
 {{!-- <form action="/notes/saveall/{{_id}}?_method=PUT" method="POST">
    <input type="hidden" name="_method" value="PUT">  --}}
<div class="table-container">
    <h1 class="heading">
        Inventory
    </h1>

{{!-- <div class="search-bar">
<input type="text" id="search-box" onkeyup="sendData(this)">
    <section id="searchResult">

    </section>
    
        <script>
        function sendData(e){
            const searchResults = document.getElementById('searchResult');
            let match = e.value.match(/^[a-zA-Z]*/); 
            let match2 = e.value.match(/\s*/);
            if(match2[0] == e.value ){
                searchResults.innerHTML = '';
                return; 
            }

            if(match[0] === e.value){
                fetch('search-notes',{ 
                method: 'POST',
                headers: {'Content-Type': 'application/json'},
                body: JSON.stringify({payload: e.value}) 
            }).then(res => res.json()).then(data => {
                let payload = data.payload; 
                searchResults.innerHTML = '';
                if(payload.length < 1){
                    searchResults.innerHTML = '<p>Disculpe, no se han encontrado resultados.</p>';
                    return; 
                }
                payload.forEach((item, index) => {
                    if(index < 0) searchResults.innerHTML = '<hr>'; 
                    searchResults.innerHTML += `<p>${item.name}</p>`;
                });
               
            });
            return; 
            }
            searchResults.innerHTML = ''; 
        }
  
    </script>
</div> --}}

    
    {{!-- <button type="submit" class="btn btn-primary btn-success mb-2">Guardar</button> --}}

    {{#if notes}}
       <button class="btn btn-primary btn-success mb-2 "><a class="dropdown-item" href="/stock/add">Add product</a></button>
    {{/if}}

       <table class="table table-hover table-info table-bordered">
      
        <thead class="table-dark">
                <tr>
                    <th>Category</th>
                    <th>Brand</th>
                    <th>Product</th>
                    <th>Stock</th>
                    <th class="th-dateOff">Expiration</th>
                    <th>Actions</th>
                </tr>
            </thead>

         {{#each notes}} 
       <tbody id="t-body" name="t-body">
                     {{notes}}
            <tr>
             
                <td  data-label="Categoría">{{category}}</td>
                <td data-label="Marca">{{brand}}    </td>
                <td data-label="Producto">{{object}}</td>

               <form action="/notes/save/{{_id}}?_method=PUT" method="POST">
                <input type="hidden" name="_method" value="PUT"> 
                <td data-label="Stock">
                    <input type="number" name="stock" class="input-table" value="{{stock}}" id="stockUpdate" onChange="this.form.submit()">
                </td>
                 </form>

                <script>
               
                   
                </script>
                
           
                <td data-label="Venc.">{{dateFormat dateOff}}</td>
            

                <td data-label="Acciones" class="btn-table-actions">
                   
                   <div class="button-container">
                   
                    
                    
                    
                    <button class="btn btn-info btn-block btn-sm"><a href="/notes/edit/{{_id}}" >Edit</a></button>

                     <form action="/notes/delete/{{_id}}?_method=DELETE" method="POST">
                        <input type="hidden" name="_method" value="DELETE">
                        <button class="btn btn-danger btn-block btn-sm" type="submit"><i class="fas fa-trash"></i></button>
                    </form>
                   </div>
                        
                </td>
                
            </tr>   
                {{else}}
            <div class="card mx-auto">
                <div class="card-body">
                    <h1>Hello {{auth.name}}</h1>
                    <p class="lead">There's no products yet.</p>
                    <a href="/stock/add" class="btn btn-success btn-block"> Create an inventory!</a>
                </div>
            </div>

             {{/each}}
        </tbody> 

 
       
    </script>


 
    </table>


</form>
<h4 class="card-title d-flex justify-content-between align-items-center">
          
</h4> 
   
</div>

